@charset "utf-8";

h1{
    font-family: "arial";
	font: bold;
    padding: 9px;
    text-align: center;
    color: blue;
    text-shadow: 5px 5px 5px rgb(105, 102, 102);
}

.menu{
    padding: 8px;
    background-color: rgba(58,152,239,1.00);
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: yellow;
    margin-left: 0.5em;
}

a:hover{
    color: yellow;
    font-size: large;
}

body>img{
    float: right;
}
button {
    background-color: rgb(52,152,219);
    color: white;
    padding:2px;
    border-radius: 5px;
}

button:hover{
    background-color: cyan;
    color:yellow;
    border: 1px solid rgb(39, 27, 27);
}
