@charset "utf-8";
/* CSS Document */
body {
    color:#000000;
    background-color:#ffffff;
    font-family:arial, verdana, sans-serif;
    font-size:12px;
    }

    .shadow{
        text-shadow: 6px 6px 3px #aaa;
    }

    p.none{text-transform: none;}
    p.capitalize{
        text-transform: capitalize;
        text-align: center;
    }
    p.uppercase{
        text-transform: uppercase;
        text-align: right;
    }

    p.lowercase{
        text-transform: lowercase;
    }
    p.pageone::first-letter{
        font-size: 2em;
        width: 200px;
    }

    p.pageone::first-line{
        font-weight:bold;
    }