*{
    padding:0px;
    margin: 0px;
}

body{
    background: linear-gradient(to right bottom,rgb(24, 24, 194) 20%, rgb(218, 35, 111) 80%);
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    font-family: "Baloo Paaji 2";
}

@keyframes fade {
    0% {opacity: 0%; transform: translateY(40px);}
    25% {opacity: 25%; transform: translateY(30px);}
    50% {opacity: 50%; transform: translateY(20px);}
    75% {opacity: 75%; transform: translateY(10px);}
    100% {opacity: 100%; transform: translateY(0px);}
}
.info{
    height: 100px;
    padding: 0px;
}

.info p{
    margin-top: 20px;
    margin-left: 35px;
    font-size: x-large;
    display: inline-block;
    font-weight: bold;
    color: whitesmoke;
    background-color: transparent;
    text-align: left;
    padding: 0px;
    width: 40%;
    height: 40px;
    
}

p.right{
    font-size: x-large;
    text-align: right;
    width: 50%;
    height: 40px;
    margin-left: 0px ;
    text-decoration: underline;
}

p.right:nth-of-type(3){
    width: 10%;
    margin-left: 10px;
}

.welcome p{
    font-size: 4em;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px ;
    animation: fade 1s linear;
}

.welcome button{
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: larger;
    border-radius: 15px;
    border: 5px solid white;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-family: "Baloo Paaji 2";
    transition: width 0.5s, height 0.5s, font-size 0.5s;
    animation: fade 2s linear;
}

.welcome button:hover{
    background-color: white;
    color: rgb(24, 24, 194);
    width: 220px;
    height: 55px;
    font-size: x-large;
}

.content{
    animation: fade 3s linear;
    display: inline-block;
    width: 65%;
    height: 100%;
    margin-top: 100px;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    margin-left: 17.5%;
    box-shadow: 10px 10px 10px rgb(96, 6, 156);
}

.content > div > div{
    float:left;
    background-color: rgb(250,196,39);
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    margin: 50px;
    color: black;
    text-decoration: none;
}

.content > div > div:nth-child(3){
    clear: both;
}

a:link, :visited{
    color: black;
    text-decoration: none;
}
div.selector{
    transition: width 1s, height 1s;
}
div.selector:hover{
    background-color: rgb(238, 238, 156);
    border: 5px dashed rgb(250,196,39);
}


div.footer{
    background-color: black;
    color: white;
    padding-left: 30px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: smaller;
    text-align: center;
}
/*Cac muc sach*/
.menu {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.menu li{
    
    display: inline-block;
    margin-left: 40px;
}
 .menu a{
    color: white;
    font-weight: bold;
    font-size: large;
}

.menu a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.content2{
    animation: fade 3s linear;
    display: inline-block;
    width: 90%;
    min-height: fit-content;
    background-color: black;
    margin-left: 5.5%;
    box-shadow: 10px 10px 10px rgb(96, 6, 156);
    margin-top: 50px;
}
.content2 div a
{
    color: white;
}

.content2 img{
    display: inline-block;
    min-height: 100%;
    width: 50%;
    margin: 50px;
}
.content2 div{
    display: inline-block;
    min-width: 357px;
}
.content2 div a{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 40px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    margin: 25px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.content2 div a:hover{
    background-color: black;
    color: rgb(250,196,39);
    border: 2px solid rgb(250,196,39);
}
